body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: auto;
  background-color: #383838;
}

.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  position: relative;
  overflow: auto;
  padding: 10px;
  background-image: url("../images/background.png");
}

header {
  background-color: #2B4162;
  padding: 10px;
  min-width: 1024px;
}
header h1 {
  color: white;
  margin: 0;
  padding: 15px;
  font-size: 3em;
  text-align: center;
}

#dimmer {
  background: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
  opacity: 0.1;
}

#pop-up {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  background-color: #721817;
  border: 2px solid #FA9F42;
  box-sizing: border-box;
  z-index: 100;
  display: none;
  opacity: 0.1;
}
#pop-up p {
  color: white;
  font-size: 1.5em;
  padding: 20px 40px;
}

.close-window-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

#game-view {
  border: 2px solid #721817;
  border-radius: 20px;
  box-shadow: 0 0 3px 1px;
  height: 800px;
  width: 1024px;
  background-color: white;
  position: relative;
  margin: 40px auto;
}

#hangman-state {
  display: block;
  margin: 0 auto auto auto;
  height: 70%;
}

#word-display {
  margin: 0 auto 20px auto;
  text-align: center;
}

.letter-field {
  display: inline-block;
  margin: 0 5px;
  font-size: 2em;
}

#hint p {
  text-align: center;
  font-size: 1.2em;
}

#letters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 100px;
}

.letter-button {
  margin: 2px;
  background-color: #721817;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.letter-button:hover {
  background-color: #0B6E4F;
}

.letter-button:disabled {
  background-color: gray;
}