$viewport-width: 1024px;
$color-1-red: #721817;
$color-2-yellow: #FA9F42;
$color-3-blue: #2B4162;
$color-4-green: #0B6E4F;
$color-5-gray: #E0E0E2;

@mixin position-children($vertically, $horizontally) {
    display: flex;
    align-items: $vertically;
    justify-content: $horizontally;
}

@mixin buttons {
    background-color: $color-1-red;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    &:hover {
        background-color: $color-4-green;
    }
    &:disabled {
        background-color: gray;
    }
}

body {
    margin: auto;
    background-color: #383838;
    * {
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
}

.wrapper {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
    position: relative;
    overflow: auto;
    padding: 10px;
    background-image: url("../images/background.png");
    background-size: cover;
}

header {
    background-color: $color-3-blue;
    padding: 10px;
    min-width: $viewport-width;
    h1 {
        color: white;
        margin: 0;
        padding: 15px;
        font-size: 3em;
        text-align: center;
    }
}

#dimmer {
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    opacity: 0.1;
}

#pop-up {
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    background-color: $color-3-blue;
    border: 2px solid $color-2-yellow;
    box-sizing: border-box;
    z-index: 100;
    display: none;
    opacity: 0.1;
    align-content: center;
    p {
        color: white;
        font-size: 1.5em;
        padding: 0px 20px;
        text-align: center;
    }
}

#play-again-button {
    @include buttons;
    width: 140px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -70px;
}

#game-view {
    border: 2px solid $color-1-red;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px;
    height: 800px;
    width: $viewport-width;
    background-color: white;
    position: relative;
    margin: 40px auto;
}

#hangman-state {
    display: block;
    margin: 0 auto auto auto;
    height: 70%;
}

#word-display {
    margin: 0 auto 20px auto;
    text-align: center;
}

.letter-field {
    display: inline-block;
    margin: 0 5px;
    font-size: 2em;
}

#hint {
    p {
        text-align: center;
        font-size: 1.2em;
    }
}

#letters {
    @include position-children(center, center);
    flex-wrap: wrap;
    margin: 0 100px;
}

.letter-button {
    @include buttons;
    margin: 2px;
    width: 40px;
    height: 40px;
}